# DAT210x - Programming with Python for DS

## Module2 - Lab5

Import and alias Pandas:

In [92]:
import pandas as pd

As per usual, load up the specified dataset, setting appropriate header labels.

In [93]:
df = pd.read_csv('Datasets/census.data', sep=',', names = ['education', 'age', 'capital_gain', 'race', \
                                                           'capital_loss', 'hours-per-week', 'sex', 'classification'])
print(df)

          education  age capital_gain                race  capital_loss  \
0         Bachelors   39         2174               White             0
1         Bachelors   50            ?               White             0
2           HS-grad   38            ?               White             0
3              11th   53            ?               Black             0
4         Bachelors   28            0               Black             0
5           Masters   37            0               White             0
6               9th   49            0               Black             0
7           HS-grad   52            0               White             0
8           Masters   31        14084               White             0
9         Bachelors   42         5178               White             0
10     Some-college   37            0               Black             0
11        Bachelors   30            0  Asian-Pac-Islander             0
12        Bachelors   23            0               White             0
13          7th-8th   34            0  Amer-Indian-Eskimo             0
14          HS-grad   25            0               White             0
15          HS-grad   32            0               White             0
16             11th   38            0               White             0
17          Masters   43            0               White             0
18        Doctorate   40            0               White             0
19          HS-grad   54            0               Black             0
20              9th   35            0               Black             0
21             11th   43            0               White          2042
22          HS-grad   59            0               White             0
23        Bachelors   56            0               White             0
24          HS-grad   19            0               White             0
25     Some-college   54            0  Asian-Pac-Islander             0
26          HS-grad   39            0               White             0
27          HS-grad   49            0               White             0
28     Some-college   20            0               Black             0
29        Bachelors   45            0               White          1408
...             ...  ...          ...                 ...           ...
29506       HS-grad   30            0               White             0
29507          10th   32            0               White             0
29508  Some-college   22            0               White             0
29509       HS-grad   31            0               White             0
29510       HS-grad   29            0               White             0
29511     Bachelors   35            0               White             0
29512     Bachelors   30            0  Asian-Pac-Islander             0
29513     Doctorate   34            0               White             0
29514     Bachelors   54            0  Asian-Pac-Islander             0
29515  Some-college   37            0               White             0
29516          12th   22            0               Black             0
29517     Bachelors   34            0               White             0
29518       HS-grad   30            0               Black             0
29519     Bachelors   38        15020               Black             0
29520     Doctorate   71            0               White             0
29521       HS-grad   45            0               White             0
29522       HS-grad   41            0               Black             0
29523       HS-grad   72            0               White             0
29524       Masters   31            0               Other             0
29525       HS-grad   43            0               White             0
29526  Some-college   43            0               White             0
29527  Some-college   43            0               White             0
29528          10th   32            0  Amer-Indian-Eskimo             0
29529       Masters   32            0  Asian-Pac-Islander             0
29530       Masters   53            0               White             0
29531  Some-college   22            0               White             0
29532       HS-grad   40            0               White             0
29533       HS-grad   58            0               White             0
29534       HS-grad   22            0               White             0
29535       HS-grad   52        15024               White             0

       hours-per-week     sex classification
0                  40    Male          <=50K
1                  13    Male          <=50K
2                  40    Male          <=50K
3                  40    Male          <=50K
4                  40  Female          <=50K
5                  40  Female          <=50K
6                  16  Female          <=50K
7                  45    Male           >50K
8                  50  Female           >50K
9                  40    Male           >50K
10                 80    Male           >50K
11                 40    Male           >50K
12                 30  Female          <=50K
13                 45    Male          <=50K
14                 35    Male          <=50K
15                 40    Male          <=50K
16                 50    Male          <=50K
17                 45  Female           >50K
18                 60    Male           >50K
19                 20  Female          <=50K
20                 40    Male          <=50K
21                 40    Male          <=50K
22                 40  Female          <=50K
23                 40    Male           >50K
24                 40    Male          <=50K
25                 60    Male           >50K
26                 80    Male          <=50K
27                 40    Male          <=50K
28                 44    Male          <=50K
29                 40    Male          <=50K
...               ...     ...            ...
29506              55    Male          <=50K
29507              40    Male          <=50K
29508              40    Male          <=50K
29509              40  Female          <=50K
29510              35  Female          <=50K
29511              55  Female           >50K
29512              99  Female          <=50K
29513              60    Male           >50K
29514              50    Male           >50K
29515              39  Female          <=50K
29516              35    Male          <=50K
29517              55  Female           >50K
29518              46    Male          <=50K
29519              45  Female           >50K
29520              10    Male           >50K
29521              40  Female          <=50K
29522              32  Female          <=50K
29523              25    Male          <=50K
29524              30  Female          <=50K
29525              40    Male          <=50K
29526              40  Female          <=50K
29527              50    Male          <=50K
29528              40    Male          <=50K
29529              11    Male          <=50K
29530              40    Male           >50K
29531              40    Male          <=50K
29532              40    Male           >50K
29533              40  Female          <=50K
29534              20    Male          <=50K
29535              40  Female           >50K

[29536 rows x 8 columns]

Excellent.

Now, use basic pandas commands to look through the dataset. Get a feel for it before proceeding!

Do the data-types of each column reflect the values you see when you look through the data using a text editor / spread sheet program? If you see `object` where you expect to see `int32` or `float64`, that is a good indicator that there might be a string or missing value or erroneous value in the column.

In [94]:
print(df.dtypes)
df.head(6)

education         object
age                int64
capital_gain      object
race              object
capital_loss       int64
hours-per-week     int64
sex               object
classification    object
dtype: object

,education,age,capital_gain,race,capital_loss,hours-per-week,sex,classification
0,Bachelors,39,2174,White,0,40,Male,<=50K
1,Bachelors,50,?,White,0,13,Male,<=50K
2,HS-grad,38,?,White,0,40,Male,<=50K
3,11th,53,?,Black,0,40,Male,<=50K
4,Bachelors,28,0,Black,0,40,Female,<=50K
5,Masters,37,0,White,0,40,Female,<=50K

Try use `your_data_frame['your_column'].unique()` or equally, `your_data_frame.your_column.unique()` to see the unique values of each column and identify the rogue values.

If you find any value that should be properly encoded to NaNs, you can convert them either using the `na_values` parameter when loading the dataframe. Or alternatively, use one of the other methods discussed in the reading.

In [95]:
df['capital_gain'].unique()

array(['2174', '?', '0', '14084', '5178', '5013', '2407', '14344', '15024',
       '7688', '34095', '4064', '4386', '7298', '1409', '3674', '1055',
       '3464', '2050', '2176', '594', '6849', '4101', '1111', '3411',
       '2597', '25236', '4650', '9386', '2463', '3103', '10605', '2964',
       '3325', '2580', '3471', '4865', '6514', '1471', '2329', '99999',
       '20051', '2105', '2885', '25124', '10520', '2202', '2961', '27828',
       '6767', '8614', '2228', '1506', '13550', '2635', '5556', '4787',
       '3781', '3137', '3818', '3942', '914', '401', '2829', '2977',
       '4934', '2062', '15020', '1424', '3273', '22040', '4416', '10566',
       '991', '4931', '1086', '7430', '6497', '114', '7896', '2346',
       '3432', '2907', '1151', '2414', '2290', '3418', '15831', '41310',
       '4508', '5455', '2538', '3456', '3908', '1848', '3887', '5721',
       '9562', '6418', '1455', '2036', '1831', '11678', '2936', '2993',
       '7443', '6360', '2354', '1797', '1173', '4687', '2009', '6097',
       '2653', '18481', '7978', '2387', '6723', '5060'], dtype=object)

Look through your data and identify any potential categorical features. Ensure you properly encode any ordinal and nominal types using the methods discussed in the chapter.

Be careful! Some features can be represented as either categorical or continuous (numerical). If you ever get confused, think to yourself what makes more sense generally---to represent such features with a continuous numeric type... or a series of categories?

In [96]:
df['capital_gain'] = pd.to_numeric(df.capital_gain, errors='coerce')
df['capital_gain'] = df.capital_gain.fillna(0)
print(df)

          education  age  capital_gain                race  capital_loss  \
0         Bachelors   39        2174.0               White             0
1         Bachelors   50           0.0               White             0
2           HS-grad   38           0.0               White             0
3              11th   53           0.0               Black             0
4         Bachelors   28           0.0               Black             0
5           Masters   37           0.0               White             0
6               9th   49           0.0               Black             0
7           HS-grad   52           0.0               White             0
8           Masters   31       14084.0               White             0
9         Bachelors   42        5178.0               White             0
10     Some-college   37           0.0               Black             0
11        Bachelors   30           0.0  Asian-Pac-Islander             0
12        Bachelors   23           0.0               White             0
13          7th-8th   34           0.0  Amer-Indian-Eskimo             0
14          HS-grad   25           0.0               White             0
15          HS-grad   32           0.0               White             0
16             11th   38           0.0               White             0
17          Masters   43           0.0               White             0
18        Doctorate   40           0.0               White             0
19          HS-grad   54           0.0               Black             0
20              9th   35           0.0               Black             0
21             11th   43           0.0               White          2042
22          HS-grad   59           0.0               White             0
23        Bachelors   56           0.0               White             0
24          HS-grad   19           0.0               White             0
25     Some-college   54           0.0  Asian-Pac-Islander             0
26          HS-grad   39           0.0               White             0
27          HS-grad   49           0.0               White             0
28     Some-college   20           0.0               Black             0
29        Bachelors   45           0.0               White          1408
...             ...  ...           ...                 ...           ...
29506       HS-grad   30           0.0               White             0
29507          10th   32           0.0               White             0
29508  Some-college   22           0.0               White             0
29509       HS-grad   31           0.0               White             0
29510       HS-grad   29           0.0               White             0
29511     Bachelors   35           0.0               White             0
29512     Bachelors   30           0.0  Asian-Pac-Islander             0
29513     Doctorate   34           0.0               White             0
29514     Bachelors   54           0.0  Asian-Pac-Islander             0
29515  Some-college   37           0.0               White             0
29516          12th   22           0.0               Black             0
29517     Bachelors   34           0.0               White             0
29518       HS-grad   30           0.0               Black             0
29519     Bachelors   38       15020.0               Black             0
29520     Doctorate   71           0.0               White             0
29521       HS-grad   45           0.0               White             0
29522       HS-grad   41           0.0               Black             0
29523       HS-grad   72           0.0               White             0
29524       Masters   31           0.0               Other             0
29525       HS-grad   43           0.0               White             0
29526  Some-college   43           0.0               White             0
29527  Some-college   43           0.0               White             0
29528          10th   32           0.0  Amer-Indian-Eskimo             0
29529       Masters   32           0.0  Asian-Pac-Islander             0
29530       Masters   53           0.0               White             0
29531  Some-college   22           0.0               White             0
29532       HS-grad   40           0.0               White             0
29533       HS-grad   58           0.0               White             0
29534       HS-grad   22           0.0               White             0
29535       HS-grad   52       15024.0               White             0

       hours-per-week     sex classification
0                  40    Male          <=50K
1                  13    Male          <=50K
2                  40    Male          <=50K
3                  40    Male          <=50K
4                  40  Female          <=50K
5                  40  Female          <=50K
6                  16  Female          <=50K
7                  45    Male           >50K
8                  50  Female           >50K
9                  40    Male           >50K
10                 80    Male           >50K
11                 40    Male           >50K
12                 30  Female          <=50K
13                 45    Male          <=50K
14                 35    Male          <=50K
15                 40    Male          <=50K
16                 50    Male          <=50K
17                 45  Female           >50K
18                 60    Male           >50K
19                 20  Female          <=50K
20                 40    Male          <=50K
21                 40    Male          <=50K
22                 40  Female          <=50K
23                 40    Male           >50K
24                 40    Male          <=50K
25                 60    Male           >50K
26                 80    Male          <=50K
27                 40    Male          <=50K
28                 44    Male          <=50K
29                 40    Male          <=50K
...               ...     ...            ...
29506              55    Male          <=50K
29507              40    Male          <=50K
29508              40    Male          <=50K
29509              40  Female          <=50K
29510              35  Female          <=50K
29511              55  Female           >50K
29512              99  Female          <=50K
29513              60    Male           >50K
29514              50    Male           >50K
29515              39  Female          <=50K
29516              35    Male          <=50K
29517              55  Female           >50K
29518              46    Male          <=50K
29519              45  Female           >50K
29520              10    Male           >50K
29521              40  Female          <=50K
29522              32  Female          <=50K
29523              25    Male          <=50K
29524              30  Female          <=50K
29525              40    Male          <=50K
29526              40  Female          <=50K
29527              50    Male          <=50K
29528              40    Male          <=50K
29529              11    Male          <=50K
29530              40    Male           >50K
29531              40    Male          <=50K
29532              40    Male           >50K
29533              40  Female          <=50K
29534              20    Male          <=50K
29535              40  Female           >50K

[29536 rows x 8 columns]

Lastly, print out your dataframe!

In [97]:
print(df.dtypes)

education          object
age                 int64
capital_gain      float64
race               object
capital_loss        int64
hours-per-week      int64
sex                object
classification     object
dtype: object

In [98]:
df['education'].unique()

array(['Bachelors', 'HS-grad', '11th', 'Masters', '9th', 'Some-college',
       '7th-8th', 'Doctorate', '5th-6th', '10th', '1st-4th', 'Preschool',
       '12th'], dtype=object)

In [99]:
ordered_edu = ['Preschool','1st-4th', '5th-6th','7th-8th','9th','10th','11th','12th','HS-grad','Some-college','Bachelors', \
               'Masters', 'Doctorate']
df.education = df.education.astype("category",
      ordered=True,
      categories=ordered_edu).cat.codes

In [100]:
df['classification'].unique()

array(['<=50K', '>50K'], dtype=object)

In [101]:
ordered_class = ['<=50K', '>50K']
df.classification= df.classification.astype("category",
      ordered=True,
      categories=ordered_class).cat.codes

In [102]:
#df = pd.get_dummies(df,columns=['sex'])
#df = pd.get_dummies(df,columns=['race'])

In [103]:
#df.head(10)

In [105]:
df.race = df.race.astype("category").cat.codes
df.sex = df.sex.astype("category").cat.codes

In [106]:
df.head(10)

,education,age,capital_gain,race,capital_loss,hours-per-week,sex,classification
0,10,39,2174.0,4,0,40,1,0
1,10,50,0.0,4,0,13,1,0
2,8,38,0.0,4,0,40,1,0
3,6,53,0.0,2,0,40,1,0
4,10,28,0.0,2,0,40,0,0
5,11,37,0.0,4,0,40,0,0
6,4,49,0.0,2,0,16,0,0
7,8,52,0.0,4,0,45,1,1
8,11,31,14084.0,4,0,50,0,1
9,10,42,5178.0,4,0,40,1,1